.vscode
Tom/test_hash
Tom/duplicates
Tom/duplicates.o
Tom/list.o
.gitignore
Tom/strSHA2.o
Tom/hashtable.o
Tom/read_dir.o
Anfernee/.duplicates.c.swp
Tom_2nd
Tom/advanced
src/duplicates
src/duplicates.o
.gitignore
.gitignore
.gitignore
src/list.o
src/strSHA2.o
src/read_dir.o
src/hashtable.o
Tom/globals.o
Anfernee/duplicates
Anfernee/duplicates.o
Anfernee/list.o
Anfernee/hashtable.o
Anfernee/read_dir.o
Anfernee/strSHA2.o
Anfernee/duplicates
.DS_Store
